.case-study{
  background:#FAFAFB;
  padding: 70px 0;
  .wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    .main{
      display:grid;
      .banner-img{
        width: 100%;
        margin-bottom: 30px;
        align-self: center;
      }
      .content{
        .tag{
          background: rgba(0, 207, 255, 0.1);
          width: fit-content;
          padding: 10px;
          color:#00CFFF;
       
          font-weight: 400;
        }
        >div{
          margin-bottom: 20px;
        }
        .title{
          font-size: 2rem;
          font-weight: bold;
          color:rgb(18, 36, 85);
        }
        .subtitle{
          color:gray;
        
        }
        .banner-btn{
          display: block;
          padding: 15px;
          padding-right: 60px;
          border: 2px solid rgb(18, 36, 85);
          width: fit-content;
          background: white;
          font-weight: bold;
          text-transform: capitalize;
          font-size: .9rem;
          margin-bottom: 20px;
        }

        .counter-ups{
          display: flex;

          >div{
            margin-right: 20px;
            h3{
              font-size: 2.2rem ;
              color: #702FFF;
             
              span{
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 762px){
  .case-study{
    .wrapper{
      .main{
         grid-template-columns: 7fr 5fr;
     
         grid-gap: 40px;
         margin-top: 40px;
         .banner-img{
          
           margin: 0;
         }
         .content{
           
           .title{
             font-size: 2.4rem;
             
           }
           .subtitle{
             font-size: 1.2rem;
             line-height: 1.5;
           }
         }
      }
    }
  }
}
@media only screen and (min-width: 992px){
  .case-study{
    .wrapper{
      .main{
           
         .content{
           >div{
             margin-bottom: 30px;
           }
           .title{
             font-size: 3rem;
             
           }
           .banner-btn{
             margin-bottom: 30px;
           }
         }
      }
    }
  }
}
@media only screen and (min-width: 1200px){
  .case-study{
    .wrapper{
      .main{
           grid-gap: 8%;
         .content{
           
           .title{
             font-size: 3.4rem;
             
           }
           .banner-btn{
             margin-bottom: 40px;
           }
         }
      }
    }
  }
}